{% extends 'base.html' %}
{% block content %}
<title>Пост <!-- Первые 30 букв поста --></title>
<h2>Профаил пользователя {{ author.get_full_name }} </h2>
      <div class="container py-5">    
        <h3>Все посты:{{ author.get_full_name }}{% for post in page_obj %}</h3>
          {% include 'includes/code.html' %} 
          {% endfor %}
        <h3>Всего постов: {{ posts.count }}</h3>
          <ul>
            {% for post in page_obj %}
            {% include 'includes/code1.html' %}
            {% endfor %}
          </ul>
          <p>
          </p>
          <h1> <a href="{% url 'posts:post_detail' author.username %}">Подробная информация</a> </h1>
          {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}        
        <hr>
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
  </body>
</html>
{% endblock %} 